::selection {
    background-color: rgb(46, 46, 46);
    color: rgb(253, 253, 253);
}

body {
    margin: 0;
}

a {
    text-decoration: none;    
    color: rgb(253, 253, 253);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
}

a:hover {
    color: rgb(15, 15, 15);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
}

p a {
    text-transform: uppercase;
    font-size: 80%;
}

#header {
    height: 600px;
    background: url('images/deer.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tp {
    position: relative;
}

.tp .balloon {
    visibility: hidden;
    width: 120px;
    background-color: rgb(46, 46, 46);
    color: rgb(253, 253, 253);
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: all 0.4s ease;
}

.tp .balloon::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(46, 46, 46) transparent transparent transparent;
}

.tp:hover .balloon {
    visibility: visible;
    opacity: 1;    
}

#black-bar {
    background-color: rgb(27, 27, 27);
    height: 15px;
    margin: 10px 0px 0px 0px;
}

#footer {
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: rgb(253, 253, 253);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 15px 0px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 50px;
    background-color: rgb(243, 239, 232);
}

h1 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    color: rgb(253, 253, 253);
}

#title {
    margin: 0 auto;
    position: fixed;
    top: 30px;
    right: 80px;
}

#sidet {
    margin: 0 auto;
    position: fixed;
    top: 210px;
    right: 90px;
    text-align: right;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: rgb(253, 253, 253);
    text-transform: uppercase;
}

.smallimg:hover {
    color: rgba(255, 255, 255, 0);
    opacity: 1;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.smallimg {
    width: 400px;
    height: 250px;
    margin: 8px;
    background-color: rgba(122, 122, 122, 1);
    opacity: 0.7;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}


#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  #modal {
    position:absolute;
    background:url(tint20.png) 0 0 repeat;
    background:rgba(0,0,0,0.2);
    border-radius:14px;
    padding:8px;
  }
  
  #content {
    border-radius:8px;
    background:#fff;
    padding:20px;
  }