::selection {
    background-color: rgb(46, 46, 46);
    color: rgb(253, 253, 253);
}

body {
    margin: 0;
}

#header {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.tp {
    position: relative;
}

.tp .balloon {
    visibility: hidden;
    width: 120px;
    background-color: rgb(46, 46, 46);
    color: rgb(253, 253, 253);
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: all 0.4s ease;
}

.tp .balloon::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(46, 46, 46) transparent transparent transparent;
}

.tp:hover .balloon {
    visibility: visible;
    opacity: 1;    
}

#black-bar {
    background-color: rgb(27, 27, 27);
    height: 15px;
    margin: 10px 0px 0px 0px;
}

#footer {
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: rgb(253, 253, 253);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 15px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: 'Open Sans', 'Arial', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    border-bottom: 2px solid pink;
}

img {
    width: 450px;
    height: 300px;
    margin: 8px;
    background-color: rgba(122, 122, 122, 1);
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

img:hover {
    color: rgba(255, 255, 255, 0);
    opacity: 1;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

#title {
    width: 400px;
    height: fit-content;
    margin: 0 auto;
}